<launch>
  <arg name="model" default="$(find cara_description)/urdf/cara.urdf"/>
  <arg name="rvizconfig" default="$(find cara_description)/src/urdf.rviz" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <include file="$(find cara_description)/launch/gazebo.launch"/>
  <rosparam command="load"
            file="$(find cara_description)/config/joints.yaml"
            ns="cara_joint_state_controller" />
  <rosparam command="load"
            file="$(find cara_description)/config/diff_drive.yaml"
            ns="cara_diff_drive_controller"/>

  <node name="cara_controller_spawner" pkg="controller_manager" type="spawner"
    args="cara_joint_state_controller
          --shutdown-timeout 3"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="cara_diff_drive_controller/cmd_vel"/>
  </node>


</launch>