<?xml version="1.0"?>
<launch>

    <!-- peripheral core launch (includes arduino, IMU, rplidar)-->
    <include file="$(find cara)/launch/peripheral_node.launch"/>

    <!-- odom launch
    <include file="$(find cara)/launch/odom.launch"/>
    -->

    <!-- cara controller-->
	<node name="cara_controller" pkg="cara" type="cara_controller">
		<param name="publish_tf" value="true" />
    		<param name="publish_rate" value="10.0" />
    		<param name="linear_scale_positive" value="1.025" />
    		<param name="linear_scale_negative" value="1.025" />
    		<param name="angular_scale_positive" value="1.078" />
    		<param name="angular_scale_negative" value="1.078" />
		<param name="angular_scale_accel" value="0.0" />
	</node>

      <!-- rviz launch-->
    <include file="$(find cara_description)/launch/cara_display.launch"/>
</launch>
