<?xml version="1.0"?>
<launch>
    <arg name="port" default="/dev/ttyACM0"/>
    <param name="cara_description" command="$(find cara)/xacro $(find cara)/xacro/cara.urdf" />

    <!-- Core -->
    <include file="$(find cara)/launch/core.launch"/>

    <!-- Move Base 
    <include file="$(find cara)/launch/move_base.launch"/>

    Hector SLAM 
    <include file="$(find cara)/launch/hector_slam.launch"/>
-->
    <arg name="rvizconfig" default="$(find cara)/config/config.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

</launch>
